*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/Css/IMG-20220622-WA0001.jpg);
    background-size: cover;

}

    body{
        display: block;
    }

    


h1{
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color:white;
    font-weight: bold;
    border: 1px solid black;
    width: fit-content;
    padding: 1rem 2rem;
    
    
    background: rgba(255, 255, 255, 0.378);
    backdrop-filter: blur(5px);
    
}

li{
    /* height: 10rem;
    width: 10rem; */
    list-style-type: none;
}

ol{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.letra{
    height: 5rem;
    width: 5rem;
}

#calcular{
    height: 5rem;
    width: 5rem;
    bottom: 0;
    background-color: red;
}

img.imagen{
    width: 10rem;
    display: flex;
}

div.ventanaEmergente{
    border-radius: 2rem;
    min-height: 20rem;
    width: 30rem;
    background-color: rgb(0, 136, 255);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    
}
 
div{
    margin: 1rem;
    padding: 1rem;
    display:flex;
    
    
    
}

